#billing_stores_field {
	border: 1px solid var(--border-color) !important;
	border-radius: 10px;
	box-shadow: none;
	padding: 0px 20px;
	font-size: var(--font-md);
	background: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}
/* #billing_stores{
    max-height: 200px;
    overflow: scroll;
} */
#billing_stores label {
	display: inline-block;
}
textarea#billing_stores {
	display: none;
}
